table {
    border-collapse: separate;
}

h1 {
    text-align: center;
    font-size: 80px;
    padding-top: 20px;
	background: linear-gradient(to right, #0033cc 0%, #666699 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
   
}

.centrado{
    margin: 0 auto;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
  width: 33.33%;
  text-align: center;
  
}

.logo{
    width: 25%;
    hight: 25%;
}

* {
   padding: 0px;
   margin: 0px;
}
hr{
    color: #6E6E6E;
    background-color: #D8D8D8;
    height: 5px;
}

#header{
    margin:auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #D8D8D8;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

/*#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 100px;
	clear:both;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color:#0040FF;
        font-size: 9px;

} 

.indicaciones{
    text-s
    
    
}

.subrallado{
    text-decoration: underline;
}